@font-face{font-family:"amiroow";src:url('../font/IndieFlower-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow2";src: url('../font/Galada-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow3";src: url('../font/ShadowsIntoLight-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow4";src: url('../font/font/tree.ttf') format('truetype');}
@font-face{font-family: "amiroow5";src: url('../font/font/o.ttf') format('truetype');}
@font-face{font-family: "amiroow6";src: url('../font/HighSummit.ttf') format('truetype');}
*{box-sizing: border-box; padding: 0; margin: 0;}
.imgback{position: fixed;bottom: -5px;width: 50%;left: 25%;}
.body{
background-color: black;
width: 100%;
height: 100%;
overflow-x: hidden;   
}
.boxone{
width: 100%;
height: 500px;
text-align: center;
position: relative;
top: 2px;
left: 5px;
font-family: amiroow3;
perspective: 1000px;
display: block;
}
#titr{
color:rgb(238, 202, 0);
font-size: 3.2em;
padding-bottom:20px;
font-weight: 800;
}
#paragraf{
color: rgb(208, 184, 35);
font-size: 2em;
font-weight: 700;
}
#hr{
    border: 1px solid rgb(126, 126, 53);
    margin:-15px -50px;
}
label{
    margin-top: 30px;
    color: rgb(228, 200, 5);
    font-family: amiroow3;
    font-size: 1.8em;
    text-transform: uppercase;
}
input[type=text] , input[type=password]{
margin: 10px 0 9px;
position: relative;
width: 70%;
height:12%;
background: none;
border:1.5px solid#ece801;
border-radius: 30px;
color: rgb(238, 202, 0);
font-family:sans-serif;
font-size: 1.4em;
text-transform:capitalize;
text-align: center;
transition: .31s ease-out;
}
input[type=text]:focus, input[type=password]:focus{
width: 99%;
height:13%;
outline: none;
color: black;
background-color: rgb(238, 202, 0);
border:1.5px solid #fffb00;
font-size: 1.6em;

}
input[type=submit]{
    margin-top: 35px;
    padding: 8px 25px;
    position: relative;
    width: 40%;
    background-color: rgb(238, 202, 0);
    border-radius: 30px;
    color: rgb(20, 17, 0);
    font-family:amiroow4;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
    transition: .2s ease-in;
    font-weight: 600;
    border:1.5px solid#ece801;
opacity: .7;
}
input[type=submit]:hover{
opacity: 1;
outline: none;
cursor: url('../../font/cursor.cur'),auto;
}
#ppp{
color: rgb(238, 202, 0);
text-align: center;
margin-top: 70px;
font-size: 1.8em;
font-family: amiroow4;
font-weight: 700;
text-transform: capitalize;
}
p a{
    padding-left:10px;
    color: rgb(0, 163, 95);
    opacity: .8;
cursor: url('../../font/cursor.cur'),auto;
}
p a:hover{
text-decoration: none;
color: rgb(90, 0, 0);
opacity: 1;
}
