@font-face{font-family:"amiroow";src:url('../font/IndieFlower-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow2";src: url('../font/Galada-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow3";src: url('../font/ShadowsIntoLight-Regular.ttf') format('truetype');}
@font-face{font-family: "amiroow4";src: url('../font/font/tree.ttf') format('truetype');}
@font-face{font-family: "amiroow5";src: url('../font/font/o.ttf') format('truetype');}
@font-face{font-family: "amiroow6";src: url('../font/HighSummit.ttf') format('truetype');}
*{box-sizing: border-box; padding: 0; margin: 0;}
.imgback{
position: fixed;
bottom: -5px;
width: 30%;
left: 1%;
}
.body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;   
}
.boxone{
width: 100%;
height: 500px;
text-align: center;
position: absolute;
top: 22px;
left: 50px;
font-family: amiroow3;
perspective: 1000px;
display: block;
}
#titr{
color:rgb(238, 202, 0);
font-size: 3em;
padding-bottom:17px;
font-weight: 800;
}
#paragraf{
color: rgb(208, 184, 35);
font-size: 1.8em;
font-weight: 300;
}
#hr{
    border: 1px solid rgb(126, 126, 53);
    margin-bottom:10px;
}
label{
    color: rgb(228, 200, 5);
    font-family: fantasy;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
input[type=text] , input[type=password]{
padding: 1px;
margin: 15px 0 20px;
position: relative;
width: 50%;
height:10%;
background: none;
border:1.5px solid#ece801;
border-radius: 30px;
color: rgb(238, 202, 0);
font-family:sans-serif;
font-size: 1.25em;
text-transform: capitalize;
text-align: center;
transition: .3s ease-out;
}
input[type=text]:focus, input[type=password]:focus{
width: 80%;
height:13%;
outline: none;
color: black;
background-color: rgb(238, 202, 0);
border:1.5px solid #fffb00;
font-size: 1.4em;
}
input[type=submit]{
    padding: 4px 15px;
    margin-top:5px;
    position: relative;
    width: 20%;
    background-color: rgb(238, 202, 0);
    border-radius: 30px;
    color: rgb(20, 17, 0);
    font-family:amiroow4;
    font-size: 1.5em;
    text-transform: capitalize;
    text-align: center;
    transition: .1s ease-out;
    font-weight: 700;
    border:1.5px solid#ece801;
opacity: .7;
}
input[type=submit]:hover{
opacity: 1;
outline: none;
transform:rotate3d(5px,50px);
cursor: url('../../font/cursor.cur'),auto;
}
#ppp{
color: rgb(238, 202, 0);
text-align: center;
margin-top: 40px;
font-size: 1.8em;
font-family: amiroow4;
font-weight: 700;
text-transform: capitalize;
}
p a{
    padding-left:10px;
    color: rgb(0, 163, 95);
    opacity: .8;
cursor: url('../../font/cursor.cur'),auto;
}
p a:hover{
text-decoration: none;
color: rgb(90, 0, 0);
opacity: 1;
}
